@charset "UTF-8";
/*сброс margin*/
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/*скрытие заголовка*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button, .social-link-footer a, .footer-link, .adress, .hover-text, .skills-item a, .button-filtr, .mob-menu-mal, .mob-menu-tel, .head__container.is-open .header-menu-button, .header-menu-button, .nav__link::after, .nav__link,
.connection__mail-and-tel {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-timing);
          transition-timing-function: var(--transition-timing);
}

/*основной текст*/
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--color-text);
  background: var(--color-button-text);
}

:root {
  /*цвет кнопок, hover и focus элементов*/
  --color-for-hovered: #2196f3;
  /*цвет заголовков*/
  --color-for-title: #212121;
  /*цвет текста и кнопок*/
  --color-button-text: #ffffff;
  --color-text: #757575;
  /*цвет studio*/
  --color-studio: #000000;
  /*цвет footer*/
  --color-footer: #2f303a;
  /*background карточки*/
  --color-background-cart: #ffffff;
  /*background фильтр*/
  --color-background: #f5f4fa;
  /*цвет рамок*/
  --color-border: #eeeeee;
  /* фон выезжающей рамки */
  --color-background-hover: rgba(33, 150, 243, 0.9);
  /* распределение времени */
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

/*заголовки*/
h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-for-title);
}

/*расстановка навигации*/
header {
  border-bottom: 1px solid #ececec;
}

.head__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .head__container {
    height: 80px;
  }
}

.head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__menu li:not(:last-child) {
  margin-right: 50px;
}

.nav__menu a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__studio {
  padding-top: 20px;
  padding-bottom: 20px;
}

.connection {
  display: none;
}
@media screen and (max-width: 767px) {
  .connection .mail {
    padding: 0px;
  }
  .connection .telefon {
    padding: 0px;
  }
}
@media screen and (min-width: 768px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (max-width: 1199px) {
  .connection .mail {
    padding-top: 20px;
  }
  .connection .telefon {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .connection a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connection li:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connection li:not(:last-child) {
    margin-right: 50px;
  }
}

/*web*/
.nav__web,
.nav__studio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--color-for-hovered);
}

/*studio*/
.nav__studio {
  margin-right: 93px;
  color: var(--color-studio);
}

/*навигация*/
.nav__link,
.connection__mail-and-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-for-title);
  -webkit-transition-property: color;
  transition-property: color;
}

/*почта + телефон*/
.connection__mail-and-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--color-text);
  color: var(--color-text);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
}

.connection__mail-and-tel svg {
  margin-right: 10px;
}

.nav__link.current {
  color: var(--color-for-hovered);
}

.nav__link:hover,
.nav__link:focus,
.connection__mail-and-tel:hover,
.connection__mail-and-tel:focus,
.footer-link:hover,
.footer-link:focus,
.adress:hover,
.adress:focus {
  color: var(--color-for-hovered);
  fill: var(--color-for-hovered);
}

/* подчёркивание ссылки */
@media screen and (min-width: 768px) {
  .nav__link {
    position: relative;
  }
  .nav__link:hover::after {
    opacity: 1;
  }
}
.nav__link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: var(--color-for-hovered);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/* постоянное подчеркивание */
@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: var(--color-for-hovered);
    border-radius: 2px;
    opacity: 1;
  }
}
.header-menu-button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  z-index: 15;
  fill: #000000;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.header-menu-button:hover, .header-menu-button:focus {
  cursor: pointer;
  fill: var(--color-for-hovered);
}
.header-menu-button .header-button-icon-close {
  display: none;
}
.header-menu-button.is-open .header-button-icon-menu {
  display: none;
}
.header-menu-button.is-open .header-button-icon-close {
  display: block;
}
@media screen and (min-width: 768px) {
  .header-menu-button {
    display: none;
  }
}

.nav__social-link {
  display: none;
}

.head__container.is-open {
  padding: 48px 40px;
  top: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: var(--color-button-text);
  z-index: 10;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-timing);
          transition-timing-function: var(--transition-timing);
}
.head__container.is-open .nav__studio {
  display: none;
}
.head__container.is-open .header-menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: #000000;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.head__container.is-open .header-menu-button:hover, .head__container.is-open .header-menu-button:focus {
  cursor: pointer;
  fill: var(--color-for-hovered);
}
@media screen and (max-width: 767px) {
  .head__container.is-open .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 15;
  }
  .head__container.is-open .nav__menu li {
    padding-bottom: 32px;
  }
  .head__container.is-open .nav__menu a {
    padding: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--color-for-title);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: var(--transition-timing);
            transition-timing-function: var(--transition-timing);
  }
  .head__container.is-open .nav__menu a:hover, .head__container.is-open .nav__menu a:focus {
    color: var(--color-for-hovered);
  }
  .head__container.is-open .nav__menu a.current {
    color: var(--color-for-hovered);
  }
  .head__container.is-open .connection {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    z-index: 11;
  }
  .head__container.is-open .connection svg {
    display: none;
  }
  .head__container.is-open .nav__social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .head__container.is-open .nav__social-link li:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .head__container.is-open .nav__social-link li:not(:first-child) {
    padding-left: 10px;
  }
  .head__container.is-open .nav__social-link span {
    color: var(--color-for-hovered);
  }
}

@media screen and (max-width: 767px) {
  .mob-menu-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--color-for-hovered);
    margin-bottom: 32px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: var(--transition-timing);
            transition-timing-function: var(--transition-timing);
  }
  .mob-menu-tel:hover, .mob-menu-tel:focus {
    color: var(--color-for-hovered);
  }
}

@media screen and (max-width: 767px) {
  .mob-menu-mal {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    margin-bottom: 64px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: var(--transition-timing);
            transition-timing-function: var(--transition-timing);
  }
  .mob-menu-mal:hover, .mob-menu-mal:focus {
    color: var(--color-for-hovered);
  }
}

/*расстоновка фильтра*/
.ul-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ul-button li:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 50px;
}

.button-filtr {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  background: var(--color-background);
  color: var(--color-for-title);
  -webkit-transition-property: background, color;
  transition-property: background, color;
}
.button-filtr:hover, .button-filtr:focus {
  cursor: pointer;
  color: var(--color-button-text);
  background: var(--color-for-hovered);
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

/* карточки */
.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.skills-item {
  display: inline-block;
  width: 370px;
}

/*проект текст*/
p {
  line-height: 1.87;
  color: var(--color-text);
}

.skills-item a {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
.skills-item a:hover, .skills-item a:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.skills-item a:hover .hover-text, .skills-item a:focus .hover-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*убираем margin в 3-х последних картах*/
.skill-list li:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

/*название проектов*/
.titles {
  padding-bottom: 4px;
}

/*бордер под карточками*/
.border-class {
  padding: 20px 24px;
  border: 1px solid var(--color-border);
  border-top: none;
}

/* выезжающий hover */
.image-box {
  position: relative;
  overflow: hidden;
}

.hover-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 63px 24px;
  margin: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  left: 0px;
  top: 0px;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  pointer-events: none;
  color: var(--color-button-text);
  background: var(--color-background-hover);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

/* футер */
.footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

footer {
  padding: 60px 0;
  background: var(--color-footer);
}

.logo-adress {
  margin-bottom: 60px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .logo-adress {
    margin-bottom: 0px;
    width: 231px;
  }
}

.logo {
  margin-bottom: 20px;
}

.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-button-text);
  -webkit-transition-property: color;
  transition-property: color;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
}

.studio-footer {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-button-text);
}

.footer-adress li:not(:last-child) {
  margin-bottom: 9px;
}

.adress-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .adress-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .adress-social {
    margin-bottom: 0px;
    padding: 0;
    width: 506px;
  }
}

.social-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--color-button-text);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .social-link-footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.social-link-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--color-for-btn-caption);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.social-link-footer a:hover, .social-link-footer a:focus {
  background-color: var(--color-for-hovered);
}

.fotter-social b,
.email-input b {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: var(--color-button-text);
}

.social-link-footer li:not(:last-child) a {
  margin-right: 10px;
}

/* кнопка подписаться */
.input-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 16px;
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--color-button-text);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .input-email {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.input-email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .email-input {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .email-input {
    display: block;
    margin-left: auto;
    margin-top: 0;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  border: none;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-button-text);
  background-color: var(--color-for-hovered);
  fill: var(--color-button-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-property: background-color, color, fill;
  transition-property: background-color, color, fill;
}
.button:hover, .button:focus {
  cursor: pointer;
  color: var(--color-for-hovered);
  background-color: var(--color-button-text);
  fill: var(--color-for-hovered);
}

.button-icon {
  margin-left: 10px;
}/*# sourceMappingURL=styles-portfolio.css.map */