/*сброс margin*/
h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

/*скрытие заголовка*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    // width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}